<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
		<title>Doneski: Signin</title>
		<meta name="keywords" content=""/>
		<meta name="description" content="Seabright" />
		<meta name="author" content="John Bragg"/>
		<link href="/stylesheets/doneski.css" media="screen" rel="stylesheet" type="text/css" />
		<link rel="icon" href="/images/doneski.png" type="image/png" />
		<link rel="shortcut icon" href="/images/doneski.png" type="image/png" />
		<!--<script type="text/javascript" src="http://use.typekit.com/tle6zhh.js"></script>
		<script type="text/javascript">try{Typekit.load();}catch(e){}</script>-->
	</head>
	<body>
		<content>
			<header>
				<logo>Doneski</logo>
				<aside>
					<a href="/signin">Sign in</a>
				</aside>
			</header>
			<%= yield %>
		</content>
	</body>
</html>