<!DOCTYPE html>
<% if DEBUG %>
<html lang="en">
<% else %>
<html lang="en" manifest="cache.manifest">
<% end %>
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
		<title>Doneski</title>
		<meta name="keywords" content="todo list, productivity, doneski"/>
		<meta name="description" content="Doneski is an app for to-do lists, simple as that. It's dirt simple, easy to use, and works seriously everywhere." />
		<meta name="author" content="Seabright Studios Ltd."/>
		
		<meta name="robots" content="noindex">
		
		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black" />
		<link rel="apple-touch-icon" href="/images/icon-dark.png" />
		<link rel="apple-touch-startup-image" href="/images/splash.png" />
		
		<link rel="icon" href="<%= $favicon %>" type="image/png" />
		<link rel="shortcut icon" href="<%= $favicon%>" type="image/png" />
		<% if COMPRESS_ASSETS %>
		<%= Seabright::Bundle[:top] %>
		<% else %>
		<link href="/stylesheets/doneski.css" media="screen" rel="stylesheet" type="text/css" />
		<link href="/stylesheets/browser.css" media="screen" rel="stylesheet" type="text/css" />
		<link href="/stylesheets/mobile.css" media="screen" rel="stylesheet" type="text/css" />
		<link href="/stylesheets/orange.css" media="screen" rel="stylesheet" type="text/css" />
		<link href="/stylesheets/orange-mobile.css" media="screen" rel="stylesheet" type="text/css" />
		<script type="text/javascript" src="/javascripts/journaller.js"></script>
		<!--<script type="text/javascript" src="/javascripts/syncer.js"></script>-->
		<script type="text/javascript" src="/javascripts/doneski.js"></script>
		<script type="text/javascript" src="/javascripts/touchyfeely.js"></script>
		<% end %>
	</head>
	<body class="init firstlist">
		<content>
			<header class="initial">
				<logo>Doneski</logo>
				<tagline>The dirt simplest to-do app that works everywhere.</tagline>
			</header>
			<section>
				<lists></lists>
			</section>
			<toolbar class="">
				<listnav class="delayed tight0"></listnav>
				<buttons>
					<button class="config"></button>
				</buttons>
			</toolbar>
			<tutorial class="newlist delayed"></tutorial>
			<a href="/about" class="initial about">What's Doneski?</a>
		</content>
		<%= yield %>
	</body>
	<script language="javascript">
	if(!('localStorage' in window && window['localStorage'] !== null && localStorage["doneski.lists"])) document.body.className = document.body.className.replace("init","");
	</script>
</html>