<h2>What’s the story behind Doneski?</h2>
<p>We at <a href="http://seabrightstudios.com">Seabright</a> needed a to-do app that worked everywhere, and weren’t happy with any of the available options. So, we rolled our own HTML5 app that supports the rich interactions and natural gestures we felt best support how a to-do app should work.</p>

<p>After using it for a while, we’ve decided to make the design and code available to anyone to do with it as they please.</p>

<h2>How does Doneski work?</h2>
<p>You just start using it. That’s it. If you’re using it on your mobile device, add it to your home screen and use it like any other app.</p>

<p>Keep in mind that Doneski, in its current state, uses local storage. So your data is only as safe as your device or web browser. We don’t currently back anything up.</p>

<h2>Is Doneski supported?</h2>
<p>Nope. While Doneski works online and offline, we aren’t providing support for it at this point beyond hosting the app. If there is ever enough interest and use to build Doneski into a full-fledged product, we’ll consider supporting it, and charging for it.</p>

<h2>Where can I get the code and design assets?</h2>
<p>Everything is available on Github, <a href="http://github.com/Seabright/Doneski" title="Github repository">right here</a>.</p>

<a href="/" class="bar">&lsaquo; Back to Doneski</a>