<section>
	<form action="/task" method="post">
		<h2 class="initial">Add your first item:</h2>
		<input type="text" class="task"/><button class="add">+</button>
		<input type="submit" value="Add" style="display:none;"/>
	</form>
</section>