<section>
	<lists>
		<list>
			<input type="text" name="title" placeholder="Name your list" class="delayed"/>
			<form action="/task" method="post" class="tasklist">
				<h2 class="initial">Add your first item:</h2>
				<input type="text" class="task"/><button class="add">+</button>
				<input type="submit" value="Add" style="display:none;"/>
			</form>
			<tasks></tasks>
		</list>
	</lists>
</section>