<section>
	<lists>
		<list class="list_template">
			<input type="text" name="title" placeholder="Name this list" class="delayed"/>
			<form action="/task" method="post" class="tasklist">
				<input type="text" class="task" placeholder="Add your first to-do"/><button class="add">+</button>
				<input type="submit" value="Add" style="display:none;"/>
			</form>
			<tasks></tasks>
			<tasks class="completed"></tasks>
		</list>
	</lists>
	<toolbar>
		&nbsp;
	</toolbar>
</section>